@model OnlineWardrobe.Models.WardrobeItem

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.ItemType.Type)</h2>

<div class="row">
    <hr />
    <div class="col-md-4 col-md-offset-2">
        <p><img id="itemImageDetail" src="@Html.DisplayFor(model => model.Photo)" /></p>
    </div>
    <div class="col-md-4 thunmbnail">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <p class="glyphicon glyphicon-stop" style="color:@Html.DisplayFor(model => model.ItemColor.Color)"></p> @Html.DisplayFor(model => model.ItemColor.Color)
    </div>
            
            
</div>
<p>
    <a href='javascript:history.go(-1)'>Go Back</a>
</p>
