@model IEnumerable<OnlineWardrobe.Models.WardrobeItem>

<h2 id="heading">
    Shoes
</h2>
<div class="row container aboutT3">
    @foreach (var item in Model)
    {
        if (item.ItemType.Type == "Shoes")
        {
            <div class="img-thumbnail col-md-3">
                <h4 id="itemName">@Html.DisplayFor(modelItem => item.Name)</h4>
                <p><a href="@Url.Action("Details", new { id = item.ItemID })"><img id="itemImageIndex" class="img-responsive" src="@Html.DisplayFor(modelItem => item.Photo)" /></a></p>
            </div>
        }
    }
</div>
